@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Cinzel', serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(244, 197, 66, 0.4);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}
